---
layout: layouts/base.njk
section: home
---




<div id="about-text">
    {{ layoutContent | safe }}
</div>


<div id="about-image">
    <img src="./static/img/Larry-David-2008.jpg"></img>
</div>



		



